
<div id="instrumentForm" class="ui fullscreen modal">
	Name<input name="name" id="name" />
	<textarea cols="50" name="description" id="description"></textarea>
	Images<input type="url" name="images" id="images" multiple="multiple"></input> Video<input
		name="video" id="video" /> Price<input name="price" id="price" />
	Brand<select name="brandId" id="brandSelect">
	</select> Family<select onchange="loadTypesSelect(this.value)" id="familySelect"
		name="familyId">
	</select> Type <select name="typeId" id="typeSelect"
		onchange="loadPropertiesSelect(this.value)">
		<option disabled selected value="0">-- select type --</option>
	</select> Properties <select name="properties" id="propertySelect"
		multiple="multiple">
	</select> <i class="save icon" id="instrumentFormSubmit"></i>
</div>